@import "base.css";
@import "core.css";

:root {
	--background: #e0efff;
    --dark: #394253;
}

body {
	font-family: "HelveticaNeue-Light",
				 "Helvetica Neue Light",
				 "Helvetica Neue",
				 Helvetica,
				 Arial,
				 "Lucida Grande",
				 sans-serif;
	color: var(--dark);
	background-color: var(--background);
}

