<div class="imageview"
	 style="background-image: url(img/zen/wall/3.jpg);
			background-size: cover;
			border: 1px solid #000;
			display: flex; justify-content: center; align-items: center;
			position: relative;
">
	<img src="css/zen/img/icon/enso.png" style="height: 80%; filter: invert(1); opacity: .5;" draggable="false">
	<div style="text-shadow: -1px 1px 1px #000,
				1px 1px 1px #000,
				1px -1px 1px #000,
				-1px -1px 1px #000;
				position: absolute; 
				width: 100%; height: 100%; top: 0; left: 0;
				text-align: center;
				color: #fff; 
				display: flex; 
				flex-direction: column; 
				justify-content: center; 
				align-items: center;
	">
		<div>
			<p style="font-size: 18px; font-weight: bold; margin: 0;">Workbench 2.14</p>
			<div style="text-shadow: none; font-size: 10px;">
				<p style="margin: 0;">Core: 2.14.11</p>
				<p style="margin: 0;">Python: 3.9.13</p>
				<p style="margin: 0;">UWSGI: 2.0.20</p>
			</div>
			<p style="margin: .5em 0 0 0; font-size: 12px;">&copy; 2015-2022 <a style="color: #fff; text-decoration: none;" href="https://zenlogic.co.uk" target="_blank">Zen Logic Ltd.</a></p>
		</div>
	</div>
</div>
